<div class="card" *ngFor="let location of locations">
    <div class="card-blocationk">
        <h4>
            <a routerLink="/location/{{location._id}}">{{location.name}}</a>
            <small>&nbsp;
            <i class="{{ location.rating < 1 ? 'far' : 'fas' }} fa-star"></i>
            <i class="{{ location.rating < 2 ? 'far' : 'fas' }} fa-star"></i>
            <i class="{{ location.rating < 3 ? 'far' : 'fas' }} fa-star"></i>
            <i class="{{ location.rating < 4 ? 'far' : 'fas' }} fa-star"></i>
            <i class="{{ location.rating < 5 ? 'far' : 'fas' }} fa-star"></i>
            </small>
            <span class="badge badge-pill badge-default float-right" >{{location.rating}} Stars</span>
        </h4>
        <p class="address">{{location.address | uppercase}}</p>
        <div class="facilities">
            <span *ngFor="let facility of location.facilities" class="badge badge-warning">{{facility}}</span>
        </div>
    </div>
</div>