extends layout

block content
  .row.banner
    .col-12
      h1 Starcups
  .row 
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
          p 125 High Street, Reading, RG6 1PS
          .card.card-primary
            .card-block
              h2.card-title Opening hours
              p.card-text Monday - Friday : 7:00am - 7:00pm
              p.card-text Saturday : 8:00am - 5:00pm
              p.card-text Sunday : closed
            .card.card-primary
              .card-block
              h2.card-title Facilities
              span.badge.badge-warning
                i.fa.fa-check
                  small &nbsp; Hot drinks
                small &nbsp;
                span.badge.badge-warning
                i.fa.fa-check
                  small &nbsp; Food
                small &nbsp;
                span.badge.badge-warning
                i.fa.fa-check
                  small &nbsp; Wifi Zone
                small &nbsp;
        .col-12.col-md-6.location-map
          .card.card-primary 
            .card-block
              h2.card-title Location map
              img.img-fluid.rounded(src='https://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=13&size=400x350&&sensor=false&markers=51.455041,-0.9690884&scale=2&key=AIzaSyDNNisYcDhrjyJ64beNCrQBALkImkDtlx0&callback=initMap')
  .row
        .col-10
          .card.card-primary.review-card
            .card-block 
              a.btn.btn-primary.float-right(href='/locations/review/new') Add review
              h2.card-title Customer reviews
              .row.review
                .col-12.no-gutters.review-header
                  span.rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                  span.review Author Dyn
                  small.review Timestamp 16 February 2019
                .col-12
                  p What a greate Wifi Speed
              .row.review
                col-12.no-gutters.review-header
                  span.rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                  span.review Author Charlie
                  small.review Timestamp 19 February 2019
                .col-12
                  p It Was OKEY.